* {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 15px 0 15px;
}

.main-wrapper {
  flex-basis: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 24px;
  margin-bottom: 30px;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}

.input-wrapper__input {
  flex-grow: 1;
  height: 24px;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  outline: none;
}

.input-wrapper__input:focus { 
  box-shadow: 0 0 3px #494949;
}

.input-wrapper__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #719ef1;
  color: #ffffff;
  text-transform: uppercase;
  transition-duration: 0.5s;
  text-shadow: 1px 1px 2px #000000;
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.input-wrapper__button:hover {
  background-color: #377dfd;
}

.input-wrapper__button-icon {
  filter: drop-shadow(1px 1px 2px #000000);
}

.button-send-icon {
  display: none;
}

.button-geolocation-icon {
  display: none;
}

.status-offline {
  font-size: 12px;
  font-style: italic;
  opacity: 70%;
  margin-bottom: 5px;
}

.status-online {
  color: #008800;
}

.chat-wrapper {
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  outline: none;
  border-color: #494949;
  background-color: #f0f8ff;
  flex-grow: 1;
  min-height: 300px;
  width: 100%;
  margin-bottom: 10px;

  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chat-wrapper__message {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 5px 10px;
  padding: 8px;
  border-radius: 5px;
  max-width: 45%;
  word-wrap: break-word;
  word-break: break-word;
}

.client-message {
  align-self: flex-end;
  background-color: #b3cdfd;
}

.server-message {
  align-self: flex-start;
  background-color: #86f08b;
}

.text-content {
  margin: 0;
}

.link-content {
  margin: 0;
  text-decoration: 0;
  color: #0059ff;
}

.timestamp {
  margin: 5px 0 0 0;
  font-size: 10px;
  font-style: italic;
  opacity: 70%;
}

.client-message > .timestamp {
  align-self: flex-end;
}

.server-message > .timestamp {
  align-self: flex-start;
}

.pulse {
  pointer-events: none;
  animation-name: pulsation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

/* На ширине ниже 600px кнопки с текстом заменяются на иконки. */
@media screen and (max-width: 600px) {
  .button-send {
    display: none;
  }
  .button-geolocation {
    display: none;
  }
  .button-send-icon {
    display: flex;
  }
  .button-geolocation-icon {
    display: flex;
  }
}

@keyframes pulsation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}